<div class=main>
    <h1 class=main-title>Users</h1>
    <div class=search>
        <label for="user-search">Search for user</label>
        <br><br>
        <input type="text" id="user-search" name="user-search" [(ngModel)]="searchTerm" (keyup)="filterUsers()">
    </div>
    <div class=content-wrap>
        <div class=user-list>
            <div *ngFor="let employee of filteredUsers" class=user-wrap>
                <div class=user [ngClass]="{'selected-user': selectedUserId === employee.ID_EMPLOYEE}"
                    (click)="getSelectedUserInfo(employee)">
                    <p>{{employee.USERNAME}} - {{employee.FULLNAME}}</p>
                </div>
                <div class=user-status>
                    <p>{{ employee.STATUS === 1 ? 'Active' : 'Inactive' }}</p>
                </div>
            </div>
        </div>
        <div class=user-details>
            <h3>User details</h3>
            <div class=user-details-wrap>
                <div class=uca-wrap *ngFor="let custom_attribute of filteredAttributes">
                    <div class=user-c-attribute
                        *ngIf="custom_attribute.TABLE_NAME === 'EMPLOYEE' && custom_attribute.TABLE_ROW === selectedUserId"
                        [ngClass]="{'selected-catt': selectedCattId === custom_attribute.ID_C_ATTRIBUTE}"
                        (click)="getSelectedCattInfo(custom_attribute)">
                        <p>{{custom_attribute.TITLE}} - {{custom_attribute.CONTENT_}}</p>
                    </div>
                </div>
            </div>
            <div class=c-attribute-navbar>
                <div class=s-catt-text>
                    <h4>Selected item: {{ selectedCattInfo ? selectedCattInfo.TITLE : '' }}</h4>
                </div>
                <button class=can-button (click)="showCattCreatePopup()">symbol<br>Create<br>selected</button>
                <app-cattribute-create #popupCattCreate (customAttributeCreated)="onCustomAttributeCreated()"></app-cattribute-create>
                <button class=can-button (click)="showCattUpdatePopup()">symbol<br>Update<br>selected</button>
                <app-cattribute-update #popupCattUpdate (customAttributeUpdated)="onCustomAttributeUpdated($event)"></app-cattribute-update>
                <button class=can-button
                    (click)="deleteCustomAttribute(selectedCattId)">symbol<br>Delete<br>selected</button>
            </div>
        </div>
    </div>
    <div class=user-navbar>
        <div class=s-user-text>
            <h4>Selected user: {{ selectedUserInfo ? selectedUserInfo.USERNAME : '' }}</h4>
        </div>
        <button class=user-button (click)="showCreatePopup()">symbol<br>Create new User</button>
        <app-user-create #popupCreate (userCreated)="onUserCreated()"></app-user-create>
        <button class=user-button (click)="showUpdatePopup()">symbol<br>Update User</button>
        <app-user-update #popupUpdate (userUpdated)="onUserUpdated($event)"></app-user-update>
        <button class=user-button (click)="disableUser(selectedUserId)">symbol<br>Set user as inactive</button>
        <button class=user-button (click)="enableUser(selectedUserId)">symbol<br>Set user as active</button>
    </div>
</div>
<style>
    .main {
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: auto;
    }

    .content-wrap {
        display: flex;
        flex-grow: 1;
        overflow-y: hidden;
    }

    .content-wrap {
        display: flex;
    }

    .search {
        padding: 15px;
    }

    .user-list,
    .user-details {
        height: inherit;
        flex-grow: 1;
        padding: 15px;
    }

    .user-list {
        width: auto;
        max-width: 70%
    }

    .user-details {
        width: auto;
        max-width: 70%;
        overflow-y: auto;
    }

    .user-details-wrap {
        height: 17vh;
        overflow-y: auto;
    }

    .user-c-attribute {
        overflow-wrap: break-word;
    }

    .main-title {
        padding: 15px;
    }

    .c-attribute-navbar {
        padding: 10px;
        background-color: white;
    }

    .user-navbar {
        display: flex;
        /* Use flexbox layout */
        justify-content: space-between;
        /* Space between items */
        align-items: center;
        /* Center items vertically */
        padding: 15px;
    }

    .can-button,
    .user-button {
        width: 20%;
        height: 50px;
        font-size: 10px;
        margin-left: 10px;
    }

    .user-wrap {
        display: flex;
        justify-content: space-between;
    }

    .user {
        overflow-wrap: break-word;
        overflow: auto;
        width: 100%;
    }

    .user-status {
        width: 30%;
        text-align: center;
    }

    .user-button {
        width: 15%;
    }

    .selected-user,
    .selected-catt {
        background-color: lightgreen;
    }

    .user-navbar {
        padding: 15px;
        display: flex;
        justify-content: flex-end;
    }

    .s-user-text {
        text-align: left;
        max-width: 40%;
        overflow-y: auto;
        flex: 1;
    }

    .s-catt-text {
        overflow-y: auto;
    }
</style>