<div class=main *ngIf="isOpen">
    <button (click)="close()" class=close-button>X</button>
    <div class=content-wrap>
        <h3>Create new user</h3>
        <div class=info>
            <div class=input-wrap>
                <label for="username">Username</label>
                <br>
                <input type="text" id="username" name="username" #username>
            </div>
            <div class=input-wrap>
                <label for="fullname">Full name</label>
                <br>
                <input type="text" id="fullname" name="fullname" #fullname>
            </div>
            <div class=input-wrap>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" name="password" #password>
            </div>
            <div class=input-wrap>
                <label for="password2">Confirm password</label>
                <br>
                <input type="password" id="password2" name="password2" #password2>
            </div>
        </div>
        <div class="button-wrap">
            <div class="insert-err">
                <h4 *ngIf="passwordMatch === 0">no match</h4>
            </div>
            <button (click)="createUser(fullname.value, username.value, password.value, password2.value)">Create new
                user</button>
        </div>
    </div>
</div>
<style>
    .main {
        width: 50vw;
        height: inherit;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
    }

    .close-button {
        width: 7%;
        height: 25px;
    }

    .content-wrap {
        text-align: left;
        padding: 10px;
    }

    .info {
        margin-top: 15px;
    }

    .input-wrap {
        padding: 15px;
    }

    .button-wrap {
        text-align: right;
        padding: 15px;
    }
    .insert-err {
        text-align: left;
    }
</style>