<div class="main" *ngIf="isOpen">
    <button (click)="close()" class="close-button">X</button>
    <div class="content-wrap" *ngIf="selectedClient">
        <h3>Update client: {{ selectedClient.NAME_ }}</h3>
        <div class="info">
            <div class="input-wrap">
                <label for="name">Name</label>
                <br>
                <input type="text" id="name" name="name" [(ngModel)]="selectedClient.NAME_" #name>
            </div>
            <div class="input-wrap">
                <label for="email">Email</label>
                <br>
                <input type="email" id="email" name="email" [(ngModel)]="selectedClient.EMAIL" #email>
            </div>
        </div>
        <div class="button-wrap">
            <button (click)="updateClient(selectedClient.ID_CLIENT, name.value, email.value)">Update Client</button>
        </div>
    </div>
</div>

<style>
.main {
    width: 50vw;
    height: inherit;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
}

.close-button {
    width: 7%;
    height: 25px;
}

.content-wrap {
    text-align: left;
    padding: 10px;
}

.info {
    margin-top: 15px;
}

.input-wrap {
    padding: 15px;
}

.button-wrap {
    text-align: right;
    padding: 15px;
}
</style>

