<div class="main" *ngIf="isOpen">
    <button (click)="close()" class="close-button">X</button>
    <div class="content-wrap">
        <h3>Create new client</h3>
        <div class="info">
            <div class="input-wrap">
                <label for="clientName">Client Name</label>
                <br>
                <input type="text" id="clientName" name="clientName" #client>
            </div>
            <div class="input-wrap">
                <label for="clientEmail">Client Email</label>
                <br>
                <input type="email" id="clientEmail" name="clientEmail" #email>
            </div>
        </div>
        <div class="button-wrap">
            <button (click)="createClient(client.value, client.value)">Create new client</button>
        </div>
    </div>
</div>

<style>
    .main {
        width: 50vw;
        height: inherit;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
    }

    .close-button {
        width: 7%;
        height: 25px;
    }

    .content-wrap {
        text-align: left;
        padding: 10px;
    }

    .info {
        margin-top: 15px;
    }

    .input-wrap {
        padding: 15px;
    }

    .button-wrap {
        text-align: right;
        padding: 15px;
    }
    .insert-err {
        text-align: left;
    }
</style>

