<h2 class=dashboard-title>Dashboard</h2>
<div class=dashboard>
    <div class=dashboard-section>
      <h3 class=section-title>Projects</h3>
      <div class=dashboard-subsection>
        <h3>TITLE</h3>
        <p>Description: DESCRIPTION_hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
        <p>Tasks completed: 13/17</p>
      </div>
    </div>
    <div class=dashboard-section>
      <h3 class=section-title>Lead projects</h3>
      <div class=dashboard-subsection>
        <h3>TITLE</h3>
        <p>Description: DESCRIPTION_</p>
        <p>Tasks completed: 13/17</p>
      </div>
    </div>
    <div class=dashboard-section>
      <h3 class=section-title>Unapproved</h3>
      <div class=subsection-wrap>
        <h4 class=section-title>Tasks</h4>
        <div class=dashboard-subsection>
          <h3>DEVPROJECT.TITLE</h3>
          <p>Description: DESCRIPTION_</p>
        </div>
      </div>
      <div class=subsection-wrap>
        <h4 class=section-title>Knowledge base submissions</h4>
        <div class=dashboard-subsection>
          <h3>TITLE</h3>
          <p>Description: DESCRIPTION_</p>
        </div>
      </div>
      <div class=subsection-wrap>
        <h4 class=section-title>Final projects</h4>
        <div class=dashboard-subsection>
          <h3>TITLE</h3>
          <p>Description: DESCRIPTION_</p>
        </div>
      </div>
    </div>
    <div class=dashboard-section>
      <h3 class=section-title>Waiting for approval</h3>
      <div class=subsection-wrap>
        <h4 class=section-title>Tasks</h4>
        <div class=dashboard-subsection>
          <h3>DEVPROJECT.TITLE</h3>
          <div class=dashboard-subsection>
            <p>Description: DESCRIPTION_</p>
            <p>EMPLOYEE.USERNAME (EMPLOYEE.FULLNAME)</p>
          </div>
        </div>
      </div>
      <div class=subsection-wrap>
        <h4 class=section-title>Knowledge base</h4>
        <div class=dashboard-subsection>
          <h3>TITLE</h3>
          <p>Description: DESCRIPTION_</p>
          <p>EMPLOYEE.USERNAME (EMPLOYEE.FULLNAME)</p>
        </div>
      </div>
      <div class=subsection-wrap>
        <h4 class=section-title>Final projects</h4>
        <div class=dashboard-subsection>
          <h3>TITLE</h3>
          <p>Description: DESCRIPTION_</p>
          <p>EMPLOYEE.USERNAME (EMPLOYEE.FULLNAME)</p>
        </div>
      </div>
    </div>
  </div>

